/*============ Настройки по умолчанию ============*/

body {
  letter-spacing: 0.03em;
  background-color: $color-background-white;
  color: $color-text-primary;
  font-family: $font-family-primary;
}

/*container*/
.container {
  // outline: 1px solid tomato;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

/*заголовки*/
.caption {
  margin: 0;
}

/*текст/абзац*/
.text {
  margin: 0;

  color: $color-text-second;

  font-weight: 400;
}

/*сылки*/
.link {
  font-family: $font-family-primary;
  text-decoration: none;
}

/*списки*/
.without-dot {
  list-style: none;
}

.list {
  margin: 0;
  padding: 0;
}
