/*модальное окно*/
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px;

  transform: translate(-50%, -50%);

  &__caption {
    // margin-bottom: 12px;
    margin-bottom: 30px;
  }
}

/*отступы*/
.modal {
  &__field--mb-10 {
    margin-bottom: 10px;
  }

  &__field--mb-20 {
    margin-bottom: 20px;
  }

  &__field-checkbox {
    margin-bottom: 30px;
  }
}
