.section-clients {
  &__container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__item {
    margin-bottom: 30px;
  }

  &__caption {
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-bottom: -30px;
  }
}
