.section-skils {
  &__container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &__caption {
    text-align: center;
    margin-bottom: 10px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__icon-skill {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 120px;

    margin-bottom: 30px;
  }
}

/*old style desktop*/
// .section-skils {
//   &__container {
//     padding-top: 94px;
//     padding-bottom: 94px;
//   }
//   &__caption {
//     margin-bottom: 10px;
//   }

//   &__list {
//     display: flex;
//     flex-wrap: wrap;
//   }

//   &__icon-skill {
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     height: 120px;

//     margin-bottom: 30px;
//   }
// }
