.section-clients {
  &__container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__item {
    margin-bottom: 30px;

    flex-basis: 100%;

    @media screen and (min-width: $mobile) {
      flex-basis: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: $tablet) {
      flex-basis: calc((100% - 30px * 2) / 3);
    }
    @media screen and (min-width: $desktop) {
      flex-basis: calc((100% - 30px * 5) / 6);
    }
  }

  &__caption {
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-bottom: -30px;
  }
}
