.section-item {
  &__filters {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    // justify-content: space-between;

    // margin-left: auto;
    // margin-right: auto;
    // margin-bottom: 34px;
    margin-bottom: 40px;
  }
  &__container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &__caption {
    margin-bottom: 4px;
  }

  &__product {
    /* убрать у последнего ряда отступы */
    margin-bottom: -30px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    margin-bottom: 30px;
  }
}
