.section-order {
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  &__container {
    padding: 118px 0px;
  }

  &__caption {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}
