/* чекбокс */
.field-checkbox {
  display: inline-flex;
  align-items: center;

  padding-left: 23px;

  cursor: pointer;

  &__label-checkbox,
  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: $color-text-second;
  }

  &__link {
    /* исправляет подчеркивание ссылок в хром */
    text-decoration-skip-ink: none;
    color: $color-text-accent;
  }

  &__input-checkbox {
    /* appearance: none; */
    /* скрыть элемент */
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &__box-checkbox {
    position: absolute;

    width: 16px;
    height: 15px;

    margin-left: -23px;

    border: 2px solid $color-border-black;
    border-radius: 2px;

    transition: background-color $transition-duration-timing,
      border-color $transition-duration-timing;
  }

  &__icon-checked {
    position: absolute;

    margin-left: -23px;
    opacity: 0;

    transition: opacity $transition-duration-timing;
  }

  &__input-checkbox:checked ~ &__icon-checked {
    opacity: 1;
  }

  &__input-checkbox:checked + &__box-checkbox {
    border-color: $color-border-accent;
    background-color: $color-border-accent;
  }
}
