.input {
  position: relative;

  padding: 11px 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: fill $transition-duration-timing,
    border $transition-duration-timing;

  &__control {
    width: 100%;
    padding-left: 42px;

    border: none;
    outline: none;
  }

  &__control--size-l {
    color: $color-text-transparent;
    padding-left: 0px;
    background-color: inherit;
  }

  &--size-l {
    width: 100%;
    border: 1px solid $color-transparent-gray-3;
    padding: 15px 16px;
  }

  &--message {
    width: 100%;
    height: 120px;

    padding: 12px 16px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    resize: none;
  }
  &:hover,
  &:focus-within {
    border: 1px solid $color-background-accent;
    fill: $color-fill-accent;
  }

  &__icon {
    position: absolute;
    top: 11px;
    left: 12px;
  }
}
