.menu-button {
  @media screen and (min-width: $tablet) {
    display: none;
  }
  display: inline-flex;

  padding: 12px 8px;

  border: none;
  outline: none;
  background-color: transparent;

  z-index: 2;

  cursor: pointer;
  transition: color $transition-duration-timing;

  &__icon-cross {
    display: none;
  }

  &.is-open &__icon-burger {
    display: none;
  }
  &.is-open &__icon-cross {
    display: block;
  }

  &:hover {
    color: $color-text-accent;
  }

  &__icons {
    fill: currentColor;
  }
}
