.mobile-social-network {
  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $color-text-accent;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__item:not(:last-child)::after {
    display: block;
    content: "";
    width: 1px;
    height: 22px;
    transform-origin: bottom;
    background-color: $color-transparent-gray-7;
    margin: 0 10px;
  }
}
