/*section-order*/
/*============ Сделать заказ ============*/
.section-order {
  background-size: cover;
  height: 600px;
  background-image: linear-gradient(
      to right,
      $color-bg-transparent-overlay,
      $color-bg-transparent-overlay
    ),
    url("../img/studio/bg-order.jpg");
  background-position: center;

  &__caption {
    width: 696px;

    color: $color-text-inverse;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
