/*============ section-skills ============*/

/*section-skil*/
.section-skils {
  &__caption {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
    color: $color-text-second;
  }

  &__icon-skill {
    border-radius: 4px;

    background-color: $color-bakcground-darkwhite;
  }
}

/*old style desktop*/
/*section-skil*/
// .section-skils {
//   &__caption {
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     text-transform: uppercase;
//   }

//   &__text {
//     font-size: 14px;
//     line-height: 1.71;
//   }

//   &__item {
//     width: 270px;
//   }

//   &__icon-skill {
//     padding: 25px 100px 25px 100px;

//     width: 270px;
//     height: 120px;
//     border-radius: 4px;

//     background-color: $color-bakcground-darkwhite;
//   }
// }
