/*============ section-skills ============*/

/*section-skil*/
.section-skils {
  &__caption {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
    color: $color-text-second;
  }

  &__icon-skill {
    border-radius: 4px;

    background-color: $color-bakcground-darkwhite;
  }
}
