/*============ Страница портфолио ============*/

/*section-item*/
.section-item {
  &__caption {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__text {
    font-size: 16px;
    line-height: 1.87;
  }

  &__container-title {
    padding: 20px 24px;
  }

  &__filters {
  }

  &__item:hover {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__picture {
    position: relative;
    overflow: hidden;
  }

  &__text--moving-bg {
    position: absolute;
    bottom: -100%;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: $color-bg-transparent-accent;
    color: $color-text-inverse;

    font-size: 18px;
    line-height: 1.55;

    padding: 77px 24px;

    @media screen and (min-width: $tablet) {
      padding: 49px 24px;
    }

    @media screen and (min-width: $desktop) {
      padding: 63px 24px;
    }

    transition: transform $transition-duration-timing;
  }

  &__item:hover &__text--moving-bg,
  &__item:focus &__text--moving-bg {
    transform: translateY(-100%);
  }
}
