.site-nav {
  &__link {
    position: relative;

    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    text-align: center;
    letter-spacing: 0.02em;

    color: $color-text-primary;

    transition: color $transition-duration-timing;
    @media screen and (min-width: $mobile-s) and (max-width: $mobile - 1) {
      font-size: 26px;
    }
    @media screen and (min-width: $tablet) {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
    }
  }

  .current {
    color: $color-text-accent;
  }
  @media screen and (min-width: $tablet) {
    &__link:hover,
    &__link:focus {
      color: $color-text-accent;
    }
  }

  @media screen and (min-width: $tablet) {
    .current::after {
      position: absolute;
      bottom: -1px;
      left: 0;

      display: inline-block;
      content: "";
      width: 100%;
      height: 4px;

      background-color: $color-text-accent;
      border-radius: 2px;
    }
  }
}
