/*навигация*/
.site-nav {
  &__link {
    position: relative;

    color: $color-text-primary;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color $transition-duration-timing;
  }

  &__link:hover,
  &__link:focus {
    color: $color-text-accent;
  }

  .current {
    color: $color-text-accent;
  }
}

/* Отметка о текущей странице */
.current::after {
  position: absolute;
  bottom: -1px;
  left: 0;

  display: inline-block;
  content: "";
  width: 100%;
  height: 4px;

  background-color: $color-text-accent;
  border-radius: 2px;
}
