// переменные политры цветов
$color-black: #212121;
$color-lightgray: #757575;
$color-blue: #2196f3;
$color-white: #ffffff;
$color-beige: #eeeeee;
$color-darkgray: #2f303a;
$color-darkwhite: #f5f4fa;
$color-silver: #afb1b8;
$color-beige-2: #ececec;
$color-transparent-gray-1: rgba(255, 255, 255, 0.6);
$color-transparent-gray-2: rgba(255, 255, 255, 0.1);
$color-transparent-gray-3: rgba(255, 255, 255, 0.3);
$color-transparent-overlay: rgba(47, 48, 58, 0.4);
$color-transparent-gray-5: rgba(47, 48, 58, 0.8);
$color-transparent-blue: rgba(33, 150, 243, 0.9);
$color-transparent-gray-6: rgba(0, 0, 0, 0.2);
$color-transparent-gray-7: rgba(33, 33, 33, 0.2);
$name-font-family-Roboto: Roboto, sans-serif;
$name-font-family-Raleway: Raleway, sans-serif;

//переменные области применениия политры цветов
$color-text-primary: $color-black;
$color-text-second: $color-lightgray;
$color-text-accent: $color-blue;
$color-text-inverse: $color-white;
$color-border-item: $color-beige; //не используется
$color-border-header: $color-beige-2;
$color-border-black: $color-black;
$color-border-accent: $color-blue;
$color-border-input: $color-transparent-gray-7;
$color-border-input-footer: $color-transparent-gray-3;
$color-fill-usual: $color-silver;
$color-fill-accent: $color-blue;
$color-fill-light: $color-white;
$color-bg-transparent-social: $color-transparent-gray-2;
$color-text-transparent: $color-transparent-gray-1;
$color-bg-transparent-direction: $color-transparent-gray-5;
$color-bg-transparent-overlay: $color-transparent-overlay;
$color-bg-transparent-accent: $color-transparent-blue;
$color-bg-transparent-backdrop: $color-transparent-gray-6;
$color-background-white: $color-white;
$color-backgaround-button: $color-darkwhite;
$color-background-accent: $color-blue;
$color-background-gray: $color-darkgray;
$color-bakcground-darkwhite: $color-darkwhite;
$font-family-primary: $name-font-family-Roboto;
$font-family-second: $name-font-family-Raleway;

//переменная скорости анимации
$transition-duration-timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// переменный ширины экрана
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
